.p-btn-2nd,
.theme-1st {
  color: #083d56;
}

.blog-item .blog-desk a:hover,
header .menu-open .navbar-nav li a.active,
.p-btn-1st,
.theme-2nd {
  color: #d7df71;
}


.p-btn-1st,
.theme-1st-bg {
	background: #083d56;
}

.p-btn-2nd,
.theme-2nd-bg {
	background: #d7df71
}


.home-banner-text:after {
	border-color:  #083d56
}

.home-banner-text:before {
	border-color:  #d7df71
}